<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>groupbuying_icon_food</string>
		<string>美食</string>
	</array>
	<array>
		<string>groupbuying_icon_foot</string>
		<string>足疗</string>
	</array>
	<array>
		<string>groupbuying_icon_movie</string>
		<string>电影</string>
	</array>
	<array>
		<string>groupbuying_icon_hotgirl</string>
		<string>丽人</string>
	</array>
	<array>
		<string>groupbuying_icon_all</string>
		<string>全部</string>
	</array>
</array>
</plist>
